* {
    padding: 0;
    margin: 0;
    font-family: Segoe UI, sans-serif;
    font-size: 1.1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
}

main {
    width: 67%;
    border: 0.75rem solid gray;
    border-top: 0.25rem solid gray;
    border-bottom: 0.25rem solid gray;
    background-color: lightgray;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    position: relative;
}

main div {
    margin: 20px;
    border: 1px solid red;
}

.topdiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 8rem;
    justify-content: space-between;
}

.naamdiv {
    width: 40%;
    height: 8rem;
}

.naam {
    font-size: 3rem;
}

.student {
    font-size: 2rem;
}

.foto {
    width: 40%;
    text-align: right;
}

.foto img {
    width: 350px;
}

.botdiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.leftdiv {
    width: 60%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    justify-content: normal;
}

.introductie {
    width: 90%;
}

.ervaring {
    width: 90%;
}

.opleiding {
    width: 90%;
}

.rightdiv {
    padding-top: 17.5rem;
    width: 30%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    justify-content: normal;
}

.hobbies {
    text-align: right;
}

.skillInfo {
    text-align: right;
}

.cv {
    position: absolute;
    font-size: 14px;
    padding: 5px;
}