* {
    padding: 0;
    margin: 0;
    font-family: Segoe UI, sans-serif;
    font-size: 1.1rem;
}

.cv {
    font-size: 0.75rem;
    padding: 5px;
    position: absolute;
}

body {
    background-color: #341837;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 67%;
    background-color: #dddddd;

    border: 0.75rem solid #da33df;
    border-top: 0.25rem solid #da33df;
    border-bottom: 0.25rem solid #da33df;

    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.15rem;
}

h4 {
    font-size: 1.1rem;
}

main div {
    margin: 20px;
}

.topdiv {
    width: 100%;
    height: 8rem;

    display: flex;
    justify-content: space-between;
}

.naamdiv {
    margin-left: 2.5rem;
}

.foto {
    width: 37.5%;
    height: 20rem;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftdiv {
    width: 60%;

    display: flex;
    flex-direction: column;
}

.introductie {
    width: 80%;
    margin-bottom: 1.75rem;

}

.rightdiv {
    padding-top: 10rem;
    width: 30%;
    text-align: right;

    display: flex;
    flex-direction: column;
}

table {
    margin-top: 0.5rem;
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td {
    border: 1px solid black;
    width: 30%;
}

.botdiv {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

footer {
    color: white;
    width: 100%;
    margin: 1rem;

    display: flex;
    justify-content: space-evenly;
}

.ervaringbeschrijving {
    margin-top: 0.5rem;
}