* {
    padding: 0;
    margin: 0;
    font-family: Segoe UI, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
}

main {
    width: 67%;
    border: 10px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    background-color: lightgray;
}

main p #cv {
    color: red;
}

main div {
    margin: 20px;
}

main div #naam {
    color: red;
}